name: CI

on:
  push:
    branches: [main]
    paths:
      - "**.swift"
      - "**.yml"
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        image: ["swift:6.0", "swift:6.2"]

    container:
      image: ${{ matrix.image }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: swift build --build-tests

      - name: Run Tests
        run: swift test

  wasm-embedded:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    container: "swift:6.2.3"
    env:
      SWIFT_SDK_ID: swift-6.2.3-RELEASE_wasm-embedded
      SDK_URL: https://download.swift.org/swift-6.2.3-release/wasm-sdk/swift-6.2.3-RELEASE/swift-6.2.3-RELEASE_wasm.artifactbundle.tar.gz
      SDK-CHECKSUM: 394040ecd5260e68bb02f6c20aeede733b9b90702c2204e178f3e42413edad2a

    steps:
      - uses: actions/checkout@v4

      - name: Install Swift WASM SDK
        run: swift sdk install ${{ env.SDK_URL }} --checksum ${{ env.SDK-CHECKSUM }}

      - run: swift build --swift-sdk ${{ env.SWIFT_SDK_ID }} --target ElementaryCSS